@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.custom-select {
  max-height: 200px; /* Thiết lập chiều cao tối đa */
  overflow-y: auto; /* Cho phép cuộn dọc */
}